# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [16]:
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" )

2. Display an element

- Display the fourth element 'April' in the `month` list

In [17]:
print(months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [18]:
last_four_months_of_the_year = months[-4:]
print(last_four_months_of_the_year)

('September', 'October', 'November', 'December')

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [19]:
first_four_months_of_the_year = months[:4]
print(first_four_months_of_the_year)

('January', 'February', 'March', 'April')

4. List Methods

- Get the size of the month list using the `len()` method

In [20]:
size_of_the_month = len(months)
print(size_of_the_month)

12

- Get the element with the largest value of the month list using `max()`

In [21]:
month_with_largest_value = max(months)
print(month_with_largest_value)

September

- Get the element with the smallest value of the month list using `min()`

In [22]:
month_with_smallest_value = min(months)
print(month_with_smallest_value)

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [23]:
sort_the_months_of_the_year_alphabetically = sorted(months)
print(sort_the_months_of_the_year_alphabetically)

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [26]:
birthdate = (12, 9, 2002)
month, date, year = birthdate

print("month:",month)
print("date:",date)
print("year:",year)

month: 12
date: 9
year: 2002

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [35]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
gadget_products_set = set(products)
print(gadget_products)

['tablet', 'powerbank', 'monitor', 'speakers', 'smartphone', 'headphones', 'mouse', 'keyboard', 'laptop', 'projector', 'printer']



```
# This is formatted as code
```

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [37]:
gadget_products_set = ['tablet', 'powerbank', 'monitor', 'speakers', 'smartphone', 'headphones', 'mouse', 'keyboard', 'laptop', 'projector', 'printer']

if "headphones" in gadget_products_set:
  print("Yes, 'headphones' are in the product list")

else:
  print("No, Theres no 'headphones' on the product list")

Yes, 'headphones' are in the product list

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [44]:
dictionary_of_my_favorites = {
"food": "chicken",
"color": "green",
"sport": "basketball",
"drink": "pepsizero",
"dessert": "mangograham",
}

print(dictionary_of_my_favorites)

{'food': 'chicken', 'color': 'green', 'sport': 'basketball', 'drink': 'pepsizero', 'dessert': 'mangograham'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [45]:
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" )

for month in months:
  print(months)

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')
('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [46]:
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" )

for month in months:
  if month.endswith("ber"):
    print(month)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [48]:
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" )

for month in months:
  if not month.endswith("ber"):
    print(month)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

---

In [49]:
firstname = "Carlos"

for _ in range(10):
  print(firstname)

Carlos
Carlos
Carlos
Carlos
Carlos
Carlos
Carlos
Carlos
Carlos
Carlos

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [50]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

for name in names:
  username = "_".join(name.lower().split())
  usernames.append(username)

print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [60]:
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" )

index = 0
while index < len(months) and not months[index].endswith("ber"):
  print(months[index])
  index += 1

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [76]:
def population_density(population, land_area):
    return population / land_area

population = 7500000
land_area = 7000  # in square kilometers
density = population_density(population, land_area)
print("Population density:", density, "people per square kilometer")

Population density: 1071.4285714285713 people per square kilometer

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [78]:
def averagesteps(steps_list):
  total_steps = sum(steps_list)
  num_days = len(steps_list)
  return total_steps / num_days

steps_per_day = [7922, 7259, 7710, 8086, 7821, 9271, 6812]

average = averagesteps(steps_per_day)
print("Average steps per day:", average)

Average steps per day: 7840.142857142857